@page
@model Food.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <div class="input-group-append">
                <button class="btn btn-secondary">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</form>

@foreach (var restaurant in Model.Restaurants) 
{
    <partial name="_Summary" model="restaurant" />
}

<a asp-page="./Edit" class="btn btn-secondary">Add New</a>

@section footer
{
    <div>@Model.Message</div>
}